<article>
  <%- content %>

  <footer>
    <p>
      Published on
      <time class="dt-published" datetime="<%= date -%>T<%= datetime -%>"><%= date -%></time>,
      by
      <a
        href="<%= author.uri -%>"
        rel="author">
        <i><%= author.name -%></i>
      </a>
    </p>
  </footer>
</article>
