<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="<%- language -%>">
	<title><%- title -%></title>
  <% if description then %>
	  <subtitle><%- description -%></subtitle>
  <% end %>
  <id><%- id -%></id>
	<link href="<%- dirlink -%>index.xml" rel="self" type="application/atom+xml" />
	<link href="<%= permalink -%>" rel="alternate" />
  <link href="https://creativecommons.org/licenses/by/2.5/ca/deed.fr" rel="license" />
	<updated><%- os.date('%Y-%m-%dT%H:%M:%S', time_modified_child) -%>Z</updated>
  <author>
  	<name><%- author.name -%></name>
  	<email><%- author.email -%></email>
  	<uri><%- author.uri -%></uri>
  </author>

  <% if children then %>
    <% for i, child in ipairs(children) do %>
      <entry>
        <title><%- child.title -%></title>
        <id><%- child.id -%></id>
        <link href="<%= child.permalink -%>" hreflang="<%= child.language -%>" rel="alternate" type="text/html" />
        <published><%= child.date -%>T<%= child.datetime -%>Z</published>
        <updated><%- os.date('%Y-%m-%dT%H:%M:%S', child.time_modification) -%>Z</updated>
        <content type="html">
          <%= child.content -%>
        </content>
      </entry>
	  <% end %>
	<% end %>
</feed>
