<!DOCTYPE html>
<html lang="<%= language -%>">
  <%- head %>
  <body class="layout <%- template or posttype or 'default' -%>" id="t">
    <header class="header-banner">
      <%- navigation -%>
    </header>

    <main class="main" id="m">
      <%- post %>
    </main>

    <%- footer %>
  </body>
</html>
