<nav class="nav" id="n" aria-label="Main Navigation">
  <ol class="nav__list">
    <li class="nav__item">
      <a href="/" rel="index">Home</a>
    </li>
    <li class="nav__item">
      <a href="/filmography">Filmography</a>
    </li>
  </ol>
</nav>
