<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <% if sitemap then %>
    <% for i = 1, #sitemap do %>
      <url>
        <loc><%= sitemap[i].permalink -%></loc>
        <lastmod><%- os.date('%Y-%m-%dT%H:%M:%S', sitemap[i].time_modification) -%>Z</lastmod>
        <% if sitemap[i].changefreq then %>
          <changefreq><%= sitemap[i].changefreq -%></changefreq>
	      <% end %>
        <% if sitemap[i].priority then %>
          <priority><%= sitemap[i].priority -%></priority>
        <% end %>
      </url>
	  <% end %>
	<% end %>
</urlset>
